# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Poetry
poetry.lock

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Transcripts
transcript_*.json

# OS
.DS_Store
